@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

<AuthorizeView>
    <Authorized>
        <span class="navbar-text me-2">
            <strong>@context.User.Identity?.Name</strong>
        </span>

        <MudIconButton
            Icon="@Icons.Material.Filled.Logout"
            Href="MicrosoftIdentity/Account/SignOut"
            Variant="Variant.Text"
            Size="Size.Medium"
            Title="Log out" 
            AriaLabel="Log out" />
    </Authorized>
    <NotAuthorized> 
        <MudLink Href="MicrosoftIdentity/Account/SignIn" Class="navbar-text nav-link">
            Log in
        </MudLink>
    </NotAuthorized>
</AuthorizeView>
