@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

<AuthorizeView>
    <Authorized>
        <span class="navbar-text me-2">
            <strong>@context.User.Identity?.Name</strong>
        </span>
        <MudLink Href="MicrosoftIdentity/Account/SignOut" Class="navbar-text nav-link">
            Log out
        </MudLink>
    </Authorized>
    <NotAuthorized> 
        <MudLink Href="MicrosoftIdentity/Account/SignIn" Class="navbar-text nav-link">
            Log in
        </MudLink>
    </NotAuthorized>
</AuthorizeView>
