@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <span class="navbar-text me-2">
            Hello, @context.User.Identity?.Name!
        </span>
        <a href="MicrosoftIdentity/Account/SignOut" class="nav-link">
            Log out
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="nav-link">
            Log in
        </a>
    </NotAuthorized>
</AuthorizeView>
